repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-added-large-files
-   repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
    -   id: clang-format
        args: [--style=Google, -i]
    # -   id: clang-tidy
    # -   id: oclint
    # -   id: uncrustify
    # -   id: cppcheck
    # -   id: cpplint
    # -   id: include-what-you-use
